<a class="tour-list-item d-flex flex-column pb-2 pt-2" href={{ path('show', {slug: tour.slug}) }}>
    <div class="container-fluid container-lg">
        <div class="d-flex flex-row">

            <div class="tour-image">
                {% if tour.highlightImage %}
                    {% set previewImage = tour.highlightImage %}
                {% else %}
                    {% set previewImage = 'bike/cycle-europe.png' %}
                {% endif %}
                <img src="{{ cloudinary(previewImage, null, 110) }}" alt="{{ tour.title }}" class="me-4"/>
            </div>

            <div>
                <p class="mb-0">
                    <small>
                        {{ tour.startedAt | date('d.m.Y') }} - {{ tour.finishedAt | date('d.m.Y') }}
                    </small>
                </p>

                <h3 class="mb-0">
                    {{ tour.title }}
                </h3>

                {% if tour.subtitle | default %}
                    <p class="mb-0">
                        <strong>
                            {{ tour.subtitle }}
                        </strong>
                    </p>
                {% endif %}

                {% include 'components/tour/meta-information.html.twig' with {
                    days: tour.durationInDays,
                    distance: tour.distance,
                    elevationGain: tour.elevationGain,
                } only %}
            </div>
        </div>
    </div>
</a>