{% set canonicalUrl = 'https://cycle-europe.blog' ~ app.request.pathInfo %}

<title>{{ title }}</title>
<meta name="description" value="{{ description }}"/>
<link rel="canonical" href="{{ canonicalUrl }}">

{% set imageUrl = cloudinary(image, 1200, 630) %}

<meta property="og:type" content="blog"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ imageUrl }}"/>
<meta property="og:url" content="{{ canonicalUrl }}"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@couches200"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:image" content="{{ imageUrl }}"/>
