{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | About{% endblock %}

{% block metaProperties %}
    {% include 'components/layout/meta-properties.html.twig' with {
        title: 'Cycle Europe | About',
        description:  'Auf dieser Seite erkläre ich die Motivation hinter meinem Radreise-Blog.',
        image: 'bike/cycle-europe.png'
    } %}
{% endblock %}

{% block main %}
    <div class="container-fluid container-lg">
        <h1>
            <span class="bg-primary text-white ps-1 pe-1">About</span>
        </h1>

        <p class="lead mb-5">
            <span class="bg-primary text-white p-1">Über diese Seite</span>
        </p>

        <div class="row mb-5">
            <div class="col-12 col-md-8">
                <p>
                    2014 habe ich meine erste größere Radreise unternommen. Damals bin ich die Strecke von Lübeck
                    nach
                    Stralsund inklusive einer Inselrundfahrt auf Hiddensee abgefahren. Seitdem bin ich süchtig
                    und habe jedes Jahr mindestens eine, meistens 2-3 größere und kleinere Radreisen unternommen.</p>
                <p>
                    Das Rad ist für mich das perfekte Mittel um eine Region kennenzulernen. Man ist schnell genug um
                    viel sehen
                    zu können, aber nicht so schnell, dass alles nur an einem vorbei rast.
                    Und auch wenn das abgedroschen klingt: morgens mit Zelt auf dem Gepäckträger aufzubrechen ohne zu wissen wo man abends ankommen wird,
                    was der Tag an Abenteuern, Herausforderungen und Eindrücken bereit hält, das fühlt sich einfach nach
                    Freiheit an</p>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <img src="{{ cloudinary('bike/IMG_20200810_071851686_rgawej.jpg', 768) }}"
                     class="img-fluid"
                />
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-8 order-0 order-md-1">
                <p>
                    Radfahren ist für mich aber noch mehr als Reisen: es ist zu-sich-selbst-finden und zur-Ruhe-kommen.
                    Mit anderen Worten: Therapie.
                    In der Sekunde in der ich auf dem Rad sitze und losfahre gibt es nur noch mich, das Rad und die
                    Strecke. Für Alltag, Stress und Gedanken an Arbeit ist dann kein Platz mehr.
                    Das heißt nicht, dass man keine Probleme mehr lösen muss, aber es sind Probleme kleinerer,
                    unmittelbarerer Natur. Wo kann ich übernachten?
                    Wo kriege ich etwas zu essen? Reicht mein Wasser noch? Welchen Weg fahre ich am besten? Und
                    spätestens
                    wenn man sich den ersten Berg hinaufquält hat man gar keine Wahl mehr als mit jeder Faser seiner
                    Existenz im Hier und Jetzt zu sein. Und abends fällt man, nachdem man den ganzen Tag bei Wind und
                    Wetter an der frischen Luft war, todmüde, aber glücklich und stolz auf das Geschaffte ins Bett (oder
                    den Schlafsack).
                </p>
            </div>
            <div class="col-12 col-md-4 order-1 order-md-0 mb-3">
                <img src="{{ cloudinary('bike/IMG_20210709_111839964_HDR_he7omt.jpg', 768) }}"
                     class="img-fluid"
                />
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-8">
                <p>
                    Während sich dann im Laufe der Jahre
                    die Kilometer anhäuften und die bereisten Gebiete mehrten hatte ich oft den Wunsch einmal auf einer
                    Karte zu visualisieren, wo ich denn bereits gewesen bin.
                    Da ich dieses Feature bisher noch nirgendwo befriedigend umgesetzt gesehen habe,
                    entschied ich mich mir meine Wunschlösung einfach selber mit
                    <a href="https://www.openstreetmap.de/" target="_blank" rel="nofollow noreferrer">Open Streetmap</a>
                    zu bauen.
                </p>

                <p>Ist vielleicht ein bisschen eitel sich da so seinen eigenen Map Porn zu basteln, aber
                    ich war nie ein sportlicher Mensch - im "echten Leben" bin ich
                    Webentwickler (checkt meinen <a href="https://blog.kay-bader.de" target="_blank"
                                                    rel="noreferrer nofollow">Webentwickler Blog</a>!),
                    sitze viel vorm Rechner - und ich finde es
                    einfach total beeindruckend, welche Strecken man nur Kraft seiner Beine auf einem
                    kleinen Rad zurücklegen kann. Das hätte ich tatsächlich vor wenigen Jahren noch für unmöglich
                    gehalten. Zumindest für mich.
                </p>

            </div>
            <div class="col-12 col-md-4 mb-3">
                <img src="{{ cloudinary('bike/IMG_20200629_151443778_HDR_2_yz0rxn.jpg', 768) }}"
                     class="img-fluid"
                />
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-8 order-0 order-md-1">
                <p>
                    Bei der Planung meiner Touren lasse ich mich häufig von Blogs, Reiseberichten etc.
                    inspirieren und vielleicht ist diese Seite auch eine Möglichkeit etwas von dieser Inspiration
                    zurückzugeben.
                    Nicht alle meine Touren sind spektakulär oder Geheimtipps, aber vielleicht ist es ja für
                    irgendjemanden
                    interessant. Und wenn nicht, dann habe ich jetzt immerhin meine schöne Angeber-Karte, die sich
                    in den nächsten Jahren hoffentlich noch weiter füllen wird.
                </p>

                <p>
                    Wenn ihr mir Feedback oder Anregungen geben wollt oder einfach Lust habt mir zu schreiben dann
                    könnt ihr mich entweder per <a href="mailto:twohundredcouches@gmx.net">Email</a> erreichen oder
                    auf
                    <a href="https://twitter.com/couches200" target="_blank" rel="nofollow noreferrer">Twitter</a>
                    oder <a href="https://www.instagram.com/kay.bader.1/">Instagram</a>. Ich
                    würde mich freuen!
                </p>
            </div>
            <div class="col-12 col-md-4 order-1 order-md-0 mb-3">
                <img src="{{ cloudinary('bike/IMG_20180704_190232422_odcztc.jpg', 768) }}"
                     class="img-fluid"
                />
            </div>
        </div>
    </div>
{% endblock %}